/* Homepagina plaatje */ 
.header-image {
    position: relative;
    height: 300px;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Homepagina navigatie */
.menu {
    position: sticky;
    top:0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}


