/* plaatje */ 
.header-image {
    position: relative;
    height: 450px;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* Homepagina navigatie */
.menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background: burlywood;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}


a.navlinks {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

a.navlinks:hover {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration:none;
    font-style: italic;
    font-size: 20px;
}

/* Main */
main {
    padding-top: 10px;
    padding-left: 20px;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

/*Body*/
Body{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(245, 229, 215);
    overflow-x: hidden;
}

/* linkje naar memory */ 
a.linksintext {
    color: black;
    font-weight: bold;
}

a.linksintext:hover {
    color: black;
    font-style: italic;
    font-weight: bold;
}

/*footer*/
footer {
    padding-left: 20px;
}

/*Plaatje random bestemmingen generator*/
.destination-img {
    display: block;
    margin: 30px auto;     
    width: 70%;           
    max-width: 600px;      
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

#logo img {
    margin-right: 30px;
    height: 210px;
    width: auto;
}

/*Relaxte vakanties pagina*/
.container_relaxvakanties {
    display: grid;
    grid-template-columns: 1fr 1fr; /*twee kolommen*/
    gap: 40px; /*ruimte tussen de blokken*/
}

.container_relaxvakanties > div {   /*Hierbij worden alle divs gepakt binnen de container (de continenten)*/
    border: 1px solid #ccc;  /*randje om de vakken van de continenten*/
    padding: 20px;
}

.relaxvakantie_plaatjes {
    width: 200px;
    height: 150px;
}