/* plaatje */ 
.header-image {
    position: relative;
    height: 450px;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* Homepagina navigatie */
.menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background: burlywood;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}


a.navlinks {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

a.navlinks:hover {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration:none;
    font-style: italic;
    font-size: 20px;
}

/* Main */
main {
    padding-top: 10px;
    padding-left: 20px;
}

/*Body*/
Body{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(245, 229, 215);
}

/* linkje naar memory */ 
a.linksintext {
    color: black;
    font-weight: bold;
}

a.linksintext:hover {
    color: black;
    font-style: italic;
    font-weight: bold;
}

/*footer*/
footer {
    padding-left: 20px;
}

/*Mexico plaatje*/
.destination-img {
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    margin: 20px 0;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

#logo img {
    margin-right: 30px;
    height: 210px;
    width: auto;
}