Body {
    text-align: center;
}

/*Vlak met kaarten*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
}

/*Kaarten*/
.card {
    background: lightblue;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.matched {
    background: lightgreen;
    cursor: default;
}

/* Main */
main {
    padding-top: 10px;
}