Body {
    text-align: center;
}

/*Vlak met kaarten*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
    font-size: 25px;
}

/*Kaarten*/
.card {
    background: burlywood;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.matched {
    background: rgb(37,97,41);
    cursor: default;
}

.revealed {
    font-weight: bold;
}

/* Main en footer*/
main {
    padding-top: 50px;
}


/*Body*/
Body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(245, 229, 215);
}

/* plaatje */ 
.header-image {
    position: relative;
    height: 300px;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* Homepagina navigatie */
.menu {
    position: sticky;
    top:0;
    width: 100%;
    background: burlywood;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

a.navlinks {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

a.navlinks:hover {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration:none;
    font-style: italic;
    font-size: 20px;
}

/*bericht*/
.message {
    margin: 10px;
    font-weight: bold;
    font-size: 25px;
}

.button {
    font-size: 25px;
    color: rgb(163, 115, 64)
}