/*Vlak met kaarten*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
    font-size: 25px;
}

/*Kaarten*/
.card {
    background: burlywood;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.matched {
    background: rgb(37,97,41);
    cursor: default;
}

.revealed {
    font-weight: bold;
}

/* Main*/
main {
    padding-top: 50px;
}


/*Body*/
body{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(245, 229, 215);
    text-align: center;
    margin: 0;
    padding: 0;
}

/* plaatje */ 
.header-image {
    position: relative;
    height: 450px; 
    width: 100vw;
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* Homepagina navigatie */
.menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background: burlywood;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

a.navlinks {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

a.navlinks:hover {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration:none;
    font-style: italic;
    font-size: 20px;
}

/*Logo in menubalk*/
#logo img {
    margin-right: 30px;
    height: 210px;
    width: auto;
}

/*bericht*/
.message {
    margin: 10px;
    font-weight: bold;
    font-size: 25px;
}

.button {
    font-size: 25px;
    color: rgb(163, 115, 64)
}

/*de memory-container*/
.memory-container {
    display: flex;
    justify-content: space-between; /*verdeelt het in links, midden en rechts*/
    align-items: flex-start; /*Alle blokken starten op dezelfde hoogte*/
    margin-top: 30px;
}

.memorylanden, .memorysteden {
    width: 150px;       /*Breedtes*/
    font-weight: bold;
}

.grid {
    flex: 1; /*de grid (memory) neemt de resterende ruimte in*/
}

.lijntjeeronder {
    text-decoration: underline;
}