/* Body */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(245, 229, 215);
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Titel */
h1 {
    margin-top: 20px; 
    font-size: 40px;
    color: rgb(37, 97, 41);
    text-decoration: underline;
}

/* Subtitel */
h2 {
    margin-top: 25px; 
    font-size: 28px;
    color: rgb(163, 115, 64);
}

/* Quizformulier */
form {
    max-width: 600px;
    margin: 10px auto; 
    background: burlywood;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: left;
}

/* Vragen */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: rgb(37, 97, 41);
}

/* Antwoorden */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 6px;
    background-color: #fff8f0;
    font-size: 18px;
}

/* Knop */
button {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: rgb(163, 115, 64);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(120, 85, 45);
}

/* Resultaat */
#resultaat {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(37, 97, 41);
    text-align: center;
}

/* Opnieuw-knop */
#opnieuwBtn {
    display: none;
    margin: 20px auto;
    max-width: 600px;
}

/* Hoofdbalk + header afbeelding */
.header-image {
    position: relative;
    height: 250px; 
}

.header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Homepagina navigatie */
.menu {
    position: sticky;
    top: 0;
    width: 100%;
    background: burlywood;
    padding: 15px; 
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

a.navlinks {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

a.navlinks:hover {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
}

/* Main */
main {
    padding-top: 10px; 
}

/* Confetti */
#confetti {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 9999;
}

